.MuiToolbar-root {
    justify-content: space-around;
}

.texto {
    color: white !important;
}

.text-decorator-none {
    text-decoration: none !important;
}

.cursor {
    cursor: pointer;
    color: white;
}

.fundo {
    background-color: #D92B4B !important;
}