.back {
    background-color: #F2F2F2;
}

.texto1 {
    font-weight: bold !important;
    color: #BF0B2C;
}

.text-decorator-none {
    text-decoration: none !important;
}

.background2{
    background-image: url("../../assets/images/FundoCinza.png");
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: 81.5%;
    background-position: right;
}

