.back {
    background-color: #F2F2F2;
}

.background{
    background-image: url("../../assets/images/FundoCinza.png");
    background-repeat: no-repeat;
    width: 70vh;
    min-height: 70vh;
    background-size: cover;
    background-position: right;
}

.titulo {
    color: #BF0B2C !important;
    font-weight: bold !important;
}

.titulo1 {
    color: rgba(43, 43, 43, 0.904) !important;
}

.botao {
    border-color: #F2F2F2 !important;
    background-color: #D92B4B !important;
    color: white !important;
}

.postagens {
    background-color: #F2F2F2 !important;
}

