.titulo {
    color: blue;
    text-align: center;
}

.background{
    background-image: url("../../assets/images/capaHome1.png");
    background-repeat: no-repeat;
    width: 90vh;
    min-height: 80vh;
    background-size: 90%;
    background-position: right;
}
